
body {
    margin: 0;
    padding: 20px;
    background-color: rgb(80, 0, 64);
    text-align: center;
    font-family: Arial;
}

h1 {
    color: rgb(24, 177, 0);
}

.astra-foto{
    max-width: 300px;
    border-radius: 50%;
}

ul{
    list-style: square;
    list-style-position: inside;
}
@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }
}