body {
    background-color: rgb(80, 0, 64);
    text-align: center;
    font-family: Arial;
}

h1 {
    color: rgb(24, 177, 0);
}

.astra-foto{
    width: 200px;
}

ul{
    list-style: square;
    list-style-position: inside;
}